// Main Universal
body{
  border: 2px solid #E6E6E6;
  max-width: 1000px;
  margin: auto;
  font-size: 100%;
}

.banner-image{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  cursor: pointer;
}

.banner-subtitle{
  font-family: 'Alegreya Sans', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
  margin-top: -11px;
}

.main-nav{
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  ul{
    max-width: 70%;
    margin: 2px auto;
    margin-top: -8px;
    background: white;
    li{
      display: inline;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: #DB072E;
      }
    }
  }
  #nav-line{
    width: 95%;
    border-top: #E6E6E6 solid 2px;
    margin: auto;
    margin-top: 0px;
  }
}

.main-content{
  clear: both;
  h2{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin: 10px 30px;
    line-height: 1.5em;
  }
}

.clear-fix{
  clear: both;
}

// Home Page
.sponsor-logos{
  margin: auto;
  img{
    height: 150px;
    width: auto;
    float: left;
  }
}
