
body{
  border: 2px solid #E6E6E6;
  max-width: 1000px;
  margin: auto;
}

.banner-image{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  cursor: pointer;
}

.banner-subtitle{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  margin-top: -11px;
}

.main-nav{
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  ul{
    max-width: 70%;
    margin: 2px auto;
    margin-top: -8px;
    background: white;
    li{
      display: inline;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: #DB072E;
      }
    }
  }
  #nav-line{
    width: 95%;
    border-top: #E6E6E6 solid 2px;
    margin: auto;
    margin-top: 0px;
  }
}

.main-content{
  clear: both;
}

.clear-fix{
  clear: both;
}
