
body{
  border: 2px solid #E6E6E6;
  max-width: 1000px;
  margin: auto;
}

.banner-image{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.banner-subtitle{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  margin-top: -11px;
}

.main-nav{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  ul{
    margin: 2px auto;
    li{
      display: inline;
      margin: 10px;
      text-align: center;
    }
  }
}

.main-content{
  clear: both;
}

.clear-fix{
  clear: both;
}
